<html>

<header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>          
    <link rel="stylesheet" href="css/master.css">
    <title>World Index</title>
</header>
<body>

<div ng-app="worldIndex" ng-controller="appController" class="background">
    <h1>World Index</h1>   
    <form name="appForm">
        <table>
            <colgroup>
                <col width="40%">
                <col width="60%">
            </colgroup>

            <tr>
                <td class="right-aligned">Select country: </td>
                <td>
                    <select ng-model="countrySelected" ng-change="onCountryChange()"
                        name="countrySelected" required
                        ng-options="country.name for country in countries">
                    </select>
                </td>
            </tr>

        </table>

        <div ng-if="receivedData != null">
            <!-- <h2>Results:</h2>
            <p>
                You selected: {{ countrySelected }}
            </p> -->

            <table>
                <colgroup>
                    <col width="50%">
                    <col width="50%">
                </colgroup>
                <tr>
                    <td colspan="2"><h2>{{ receivedData.name }} ({{ receivedData.nativeName }})</h2></td>
                </tr>
                <tr>
                    <td class="right-aligned">Flag</td>
                    <td><img src="{{ receivedData.flag }}" alt="flag" height="50rem"></td>
                </tr>
                <tr>
                    <td class="right-aligned">Capital</td>
                    <td>{{ receivedData.capital }}</td>
                </tr>
                <tr>
                    <td class="right-aligned">Area</td>
                    <td>{{ receivedData.area | number }} km<sup>2</sup></td>
                </tr>
                <tr>
                    <td class="right-aligned">Population</td>
                    <td>{{ receivedData.population | number }}</sup></td>
                </tr>
            </table>

            <h3>Currencies</h3>
            <div ng-repeat="currency in receivedData.currencies"> 
                <!-- <p class="centered">{{ currency.code }}: {{ currency.name }} ({{ currency.symbol }})</td> -->
                <p class="centered">{{ formatCurrency(currency) }}</p></td>        
            </div>

            <h3>Languages</h3>
            <div ng-repeat="language in receivedData.languages"> 
                <!-- <p class="centered">{{ language.name }} ({{ language.nativeName }})</td> -->
                <p class="centered">{{ formatLanguage(language) }}</p></td>
            </div>
        </div>
    </form>
</div>

<script>

// controller code:

var app = angular.module("worldIndex", []);

app.controller("appController", ($scope, $http, formatService) => {

    $http.get("https://restcountries.eu/rest/v2/all?fields=name;alpha3Code")
    .then((response) => {
        $scope.countries = response.data;
    });

    $scope.onCountryChange = () => {
        // console.log("The country changed to " + $scope.countrySelected);

        $scope.receivedData = null;
        $http.get("https://restcountries.eu/rest/v2/alpha/" + $scope.countrySelected.alpha3Code)
        .then((response) => {
            console.log(response.data);
            $scope.receivedData = response.data;
        });
    };

    $scope.formatCurrency = (currency) => {
        return formatService.currency(currency);
    };

    $scope.formatLanguage = (language) => {
        return formatService.language(language);
    };
});

</script>

<script src="js/formatService.js"></script>

</body>
</html>